*{
    padding: 0;
    margin: 0;
}


/*header*/
.first-div {
    background-image: url("templates/nobackgroundascii.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#torso{font-family:Avenir,Helvetica,Arial,sans-serif;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;text-align:center;color:#fff}nav{padding:30px;padding-bottom:100px}nav a{font-weight:700;color:#fff;font-weight:lighter}nav a.router-link-exact-active{color:#fff;font-weight:900}

/*body*/
.second-div {
    padding: 50px;
    text-align: center;
    color: white;
}

/*footer*/
.third-div {
    text-align: center;
    color:white; 
    text-decoration: underline;
    font-size: 25pt;
}

/*links info!*/
a.nav-link:link {
    color: white;
    text-decoration: none;
}
a.nav-link:visited
{
    color: wheat;
    text-decoration: none;
}
a.nav-link:hover
{
    color: #fb3f00;
    text-decoration: none;
}
a.nav-link:active
{
    color: #fb3f00;
    text-decoration: none;
} 

#divA{
    height: 200px;
    padding: 50px;
}

body {
    background-color: #3e1d6e;
}

h1 {
    /*-webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: white;*/
    color: white;
    font-family: monospace;
    font-size: 15pt;
}

p {
    color: white;
    font-family: verdana;
    font-size: 20px;
}

*, *::after *::before {
    box-sizing: border-box;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0); 
    transition: 200ms ease-in-out;
    border: 1px solid black;
    border-radius: 15px;
    z-index: 10;
    background-color: white;
    width: 500px;
    max-width: 80%;
    text-align: center;
}

.modal.active {
    transform: translate(-50%, -50%) scale(1);
}

.modal-header {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
}

.modal-header .title {
    font-size: 1.25rem;
    font-weight: bold;
}

.modal-header .close-button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
}

.modal-body {
    padding: 10px 15px;
    height: 80vh;
    overflow-y: auto;
}

#overlay {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .25);
    pointer-events: none;
}

#overlay.active {
    opacity: 1;
    pointer-events: all;
}

.All {
    transform: scale(0.65);
}
  
.Home {
    transform: scale(0.65);
    top: -200px;
}
  
.About {
    transform: scale(0.65);
    top: -255px;
}
  
.Socials {
    transform: scale(0.65);
    top: -117px;
}
  
.MPOS {
    left: 310px;
}
  
.GPOS {
    top: 640px;
}