.Bluesky {background-color: #0C7CFF;}
.Bluesky:hover {background-color: #095bb8;}

.Instagram {background-color: #C13584;}
.Instagram:hover {background-color: #9e2c6d;}

.Steam {background-color: #1955aa;}
.Steam:hover {background-color: #113c77;}

.Letterboxd {background-color: #00be47;}
.Letterboxd:hover {background-color: #00802f;}

.Lastfm {background-color: #d51007;}
.Lastfm:hover {background-color: #b41007;}

.Github {background-color: #1B1F23;}
.Github:hover {background-color: #15181b;}

*{
    padding: 0;
    margin: 0;
}

/*header1*/
.first-div {
    background-image: url("templates/nobackgroundascii.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/*header2*/
.second-div {
    padding: 50px;
    text-align: center;
    color: white;
}

/*body :3*/
#torso{
    font-family:Avenir,Helvetica,Arial,sans-serif;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;
    text-align:center;
    color:#fff
}

.Socials{
    margin-top: 10px;
    flex: auto;
    gap: 4px;
    justify-content: center;
}

.Social-Buttons{
    color: white;
    padding: 2px;
    border-radius: 4px;
    font-weight: bold;
    font-family:Avenir,Helvetica,Arial,sans-serif;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;
}

nav{
    padding:30px;
    padding-bottom:100px
}
nav a{
    font-weight:700;
    color:#fff;
    font-weight:lighter
}
    nav a.router-link-exact-active{
        color:#fff;font-weight:900
    }

a.nav-link:active
{
    color: #fb3f00;
    text-decoration: none;
} 

#divA{
    height: 200px;
    padding: 50px;
}

body {
    background-color: #3e1d6e;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0); 
    transition: 200ms ease-in-out;
    border: 1px solid black;
    border-radius: 15px;
    z-index: 10;
    background-color: white;
    width: 500px;
    max-width: 80%;
    text-align: center;
}

.modal.active {
    transform: translate(-50%, -50%) scale(1);
}

.modal-header {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
}

.modal-header .title {
    font-size: 1.25rem;
    font-weight: bold;
}

.modal-header .close-button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
}

.modal-body {
    padding: 10px 15px;
    overflow-y: auto;
}

#overlay {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .25);
    pointer-events: none;
}

#overlay.active {
    opacity: 1;
    pointer-events: all;
}